@charset "UTF-8";

.inlineForm{
  display: inline-block
}

.invalidSubmitButton{
  opacity: 0.5;
  pointer-events: none;
}

.validSubmitButton{
  opacity: 1;
  pointer-events: auto;
}

.attention{
  color:red;
}

.checking{
  color:rgb(255, 128, 0);
}

.unregisterd{
  color:rgb(0, 128, 0);
}

.noSpin::-webkit-inner-spin-button,
.noSpin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.txt{
    display: inline-block;
    width: 200px;
}
